@import '../Helpers/mixins';
@import '../Helpers/variables';

.header {
    @include flexbox($direction: column);

    &__title {
        width: 600px;
        height: min-content;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
        margin-top: 0px;
        font-size: $mega-font-size;
    }

    &__date {
        font-weight: $font-extra-light;
        font-size: $normal-font-size;
        margin-top: -40px;
    }
}