@import '../Helpers/mixins';
@import '../Helpers/variables';

.nearDaysWeather {
    @include flexbox($direction: row, $justify: space-between);
    margin-top: 40px;
    gap: 30px;

    &__information {
        @include flexbox($direction: column);
        gap: 15px;

        &__day {
            font-weight: $font-semi-bold;
            font-size: $normal-font-size;
        }
    
        &__icon {
            height: 80px;
            width: 80px;
        }
    
        &__temperature {
            @include flexbox($direction: row);
            gap: 3px;

            &__morn, &__night, &__seperator {
                font-weight: $font-light;
                font-size: $small-font-size;
            }
            
        }
    }

    
}