@import '../Helpers/mixins';
@import '../Helpers/variables';

.todayWeather {
    @include flexbox($direction: row, $justify: space-around);
    gap: 30px;

    &__weather {
        @include flexbox($direction: column);
        gap: 20px;

        &__icon {
            width: 50px;
            height: 50px;
        }

        &__iconName {
            text-transform: capitalize;
            font-weight: $font-lighter;
            font-size: $normal-font-size;
        }
    }

    &__temperature {
        @include flexbox($direction: column);

        &__information {
            font-weight: $font-medium;
            font-size: $mega-font-size;
        }

        &__max, &__min, &__seperator {
            font-size: $normal-font-size;
            font-weight: $font-extra-light;
        }
    }

    &__status {
        @include flexbox($direction: column);

        &__wind {
            font-weight: $font-extra-light;
            font-size: $normal-font-size;
        }  

        &__precip {
            font-weight: $font-extra-light;
            font-size: $normal-font-size;
        }

        &__pressure {
            font-weight: $font-extra-light;
            font-size: $normal-font-size;
        }
    }
}